/* =============
 table of contents
===============
 
1. left-section
2. right-section animation


 
*/

section.hero.flex {
  margin-top: 3rem;
}
/* ====================
   1. left-section
======================= */
section.hero.flex .parent-avater.flex {
  align-items: end;
  gap: 0.6rem;
  min-height: 88px;
}

section.hero.flex .left-section {
  flex-grow: 1;
}
section.hero .icon-verified {
  color: var(--blue);
  font-style: 1.1rem;
  margin-bottom: 0.3rem;
}
section.hero .avater {
  width: 88px;
  border-radius: 50%;
  border: 1px solid darkorange;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(203, 200, 200, 0.586) inset;
  margin-right: 0.6rem;
}

section.hero h1.title {
  color: var(--title);
  font-size: 2.85rem;
  margin: 24px 0;
  line-height: 3.3rem;
}
section.hero p.subtitle {
  color: var(--subtitle);
  line-height: 1.65rem;
  margin-bottom: 32px;
  font-size: 0.9rem;
}
section.hero .all-icons.flex {
  gap: 1.5rem;
  font-size: 1.3rem;
  color: var(--subtitle);
}

section.hero .all-icons .icons:hover {
  font-size: 1.4rem;
  transition: 1.3s;
  color: var(--icon-hover);
  cursor: pointer;
}

/* ====================
   1. right-section animation
======================= */
section.hero .animation {
  width: 100%;
  translate: 100px 55px;
}

@media (max-width: 1250px) {
  section.hero .animation {
    display: none;
  }
}
